DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=camagru
DB_USER=camagru
DB_PASSWORD=change_me_camagru_password
DB_CHARSET=utf8mb4

MYSQL_HOST_PORT=3307
MYSQL_DATABASE=camagru
MYSQL_USER=camagru
MYSQL_PASSWORD=change_me_camagru_password
MYSQL_ROOT_PASSWORD=change_me_root_password

APP_URL=http://localhost:8080

